<div class="container">
    <div class="header projectHeader">
        <h1>{{project.name}}</h1>
        <button type="button" class="btn btn-primary btn-lg" ng-click="onUpdateProject()">Update</button>
        <button type="button" class="btn btn-primary btn-lg delBtn" ng-click="onDeleteProject()">Delete</button>
    </div>
    <div class="row inforow">
        <table class="table" border="0">
            <tbody>
            <tr>
                <td>Display name</td>
                <td><input type="text" id="name" ng-model="project.name"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" id="description" ng-model="project.description"></td>
            </tr>
            <tr>
                <td>Parent Project</td>
                <td>
                    <select class="form-control" ng-model="parentProjectOpt" ng-options="opt as opt.label for opt in options">
                    </select>
                </td>
            </tr>
            <tr>
                <td>Is Public</td>
                <td><input type="checkbox" ng-model="project.isPublic"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row project-users">
        <h2>Users</h2>
        <div class="filter-lable">
            <label>Filter by role : </label>
        </div>
        <div class="filter-role">
            <select class="form-control" ng-model="keyRole">
                <option value="">All</option>
                <option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}
                </option>
            </select>
        </div>
        <div class="form-group filter-text">
            <input type="text" class="form-control" ng-model="keyword" placeholder="Search">
        </div>
        <div>
            <button type="button" class="btn btn-primary" ng-click="onDeleteUsers()">Delete Selected Roles</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th><input type="checkbox" id="all-project-roles" ng-click="onAllCheckBox($event.target)"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="userRole in userRoles | filter : {user : keyword, role : keyRole}">
                <td><a href="#/users/{{userRole.user.username}}">{{userRole.user.username}}</a></td>
                <td>{{userRole.user.email}}</td>
                <td>{{userRole.role.name}}</td>
                <td><input type="checkbox" class="checkbox"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>